# Environments
/IoT/v2/raspi/dpVenv/
/IoT/v1/esp8266_final/keys.txt

# Python cache & compiled files
__pycache__/
*.py[cod]

# ML Models (optional, but good practice)
*.pt

# Editor/OS stuff
.env
.vscode
